/* Webkit 浏览器（Chrome, Safari, Edge） */

/* 设置全局滚动条 */
* {
    scrollbar-width: thin; /* Firefox 默认较窄 */
    scrollbar-color: #888 #fff; /* 滚动条和轨道颜色：灰色滑块，白色轨道 */
}

/* 设置滚动条宽度 */
::-webkit-scrollbar {
    width: 8px; /* 更窄的滚动条 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background: #fff; /* 设置轨道背景色为白色 */
    border-radius: 10px; /* 圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #888; /* 设置滑块颜色为灰色 */
    border-radius: 10px; /* 圆角 */
}

/* 鼠标悬停时滑块样式 */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* 设置滑块悬停时的背景颜色为更深的灰色 */
}

/* Firefox */

/* 设置滚动条宽度和颜色 */
html {
    scrollbar-width: thin; /* 滚动条宽度为薄 */
    scrollbar-color: #888 #fff; /* 滚动条和轨道颜色：灰色滑块，白色轨道 */
}

/* 夜间模式 */
.night-mode {
    background-color: #1e1e1e !important;
    color: rgb(186, 185, 185) !important;
    transition: background-color 1s, color 1s !important;
}

.modal-night-mode {
    background-color: rgb(54, 48, 48) !important;
    color: rgb(215, 215, 215) !important;
    transition: background-color 0.5s, color 0.5s !important;
}
