<!DOCTYPE html>
<html>
<head>
	<!-- <script> window.alert("欢迎光临，随便看看吧~");//弹出提示框</script> -->
    <title>飞花</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1.0" >
	<meta name="keywords" content="Web练手">
	<meta name="description" content="null">
	<meta name="author" content="luyao">
	<!-- <meta http-equiv="refresh" content="333;luyaocode.github.io">一首凉凉放完刷新页面 -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
	<!-- body背景和文字样式 -->
	<link rel="stylesheet" type="text/css" media="print" href="css/print.css">
	<!-- 打印页面时的样式 -->
    <link rel="stylesheet" type="text/css" media="screen and (min-width:512px) and (max-width:1024px)" href="css/screen512-1024.css">
	<!-- 屏幕大小不同时的样式 -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- 主要css样式 -->
	<link rel="icon" type="img/x-icon" href="img/fav.png">
	<!-- <script type="text/javascript" src="js/hi.js"></script> -->
    <!-- <script type="text/javascript" src="js/patch.js" defer></script> 延迟js-->

	<noscript>
	    <p>你的浏览器不支持JavaScript,所以你看不到我啦</p>
		<img alt="嫌弃" src="img/xianqi.jpg">
	</noscript>

	<!-- 以下来自WuK.wu -->
	    <!-- <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/pio.min.css"
        />
        <script
          async="async"
          src="https://cdn.jsdelivr.net/combine/gh/Dreamer-Paul/Pio@2.4/static/l2d.min.js,gh/Dreamer-Paul/Pio@2.4/static/pio.min.js"
          onload='
              let pio_container = document.createElement("div");
              pio_container.classList.add("pio-container");
              pio_container.classList.add("right");
              pio_container.style.bottom = "-2rem";
              pio_container.style.zIndex = "1";
              document.body.insertAdjacentElement("beforeend", pio_container);
              let pio_action = document.createElement("div");
              pio_action.classList.add("pio-action");
              pio_container.insertAdjacentElement("beforeend", pio_action);
              let pio_canvas = document.createElement("canvas");
              pio_canvas.id = "pio";
              pio_canvas.style.width = "14rem";
              pio_canvas.width = "600";
              pio_canvas.height = "800";
              pio_container.insertAdjacentElement("beforeend", pio_canvas);
              let pio = new Paul_Pio({
                "mode": "fixed",
                "hidden": true,
                "night": "for(let i=7; i<16; ++i) if(document.body.classList.contains(`theme-base-0`+i.toString(16))) { document.body.classList.remove(`theme-base-0`+i.toString(16)); document.body.classList.add(`theme-base-0`+((i-6)%9+7).toString(16)); break; }",
                "content": {
                  "link": ["https://google.com"],
                  "skin": ["要换成我的朋友吗？", "让她放个假吧~"],
                  "hidden": true,
                  "custom": [{
                    "selector": "a",
                    "type": "link",
                  }, {
                    "selector": ".sidebar-toggle",
                    "text": "打开侧边栏叭~"
                  }, {
                    "selector": ".effect-info",
                    "text": "哇，你发现了什么！"
                  }, {
                    "selector": "#sidebar-search-input",
                    "text": "想搜索什么呢？很多干货哦！"
                  }, {
                    "selector": "#toc",
                    "text": "这是目录~"
                  }, {
                    "selector": ".page-title",
                    "text": "这是标题~"
                  }, {
                    "selector": ".v",
                    "text": "评论没有审核，要对自己的发言负责哦~"
                  }]
                },
                "model": [
                  "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/33/model.2018.bls-winter.json",
                  "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/platelet-2/model.json",
                  "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/xiaomai/xiaomai.model.json",
                  "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/mashiro/seifuku.model.json",
                  "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/Violet/14.json",
                  "https:\/\/cdn.jsdelivr.net/gh/xiaoski/live2d_models_collection/Kobayaxi/Kobayaxi.model.json",
                  "https:\/\/cdn.jsdelivr.net/gh/xiaoski/live2d_models_collection/mikoto/mikoto.model.json",
                  "https:\/\/cdn.jsdelivr.net/gh/xiaoski/live2d_models_collection/uiharu/uiharu.model.json"]
              });'
        ></script> -->
    <!-- 以上来自WuK.wu -->
		
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="css/main.css">

  
</head>
<style>
* {
		padding: 0px;
		margin: 0px;

    
	}
  html,body{
      height:100%;
  }
  footer{
    width: 100%;
    height: 100px;
    font-family: "宋体";
    font-size: 18px;
    background-color: #CFCCC9;	/*玛瑙灰*/
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    margin-bottom:0;
    margin-left: 40px;
    opacity: 0.8;
  }
  .topContent{
		margin-top: 5px;
		margin-bottom: 10px;
		margin-left: 40px;
		font-family: "宋体";
		font-size: 18px;
		font-weight: bold;
		line-height: 30px;
		background-color: #CFCCC9;	/*玛瑙灰*/
    opacity: 0.8;
		
	}
  
</style>
<body>
<nav>
<ul class="topContent">
<li><a href="/">首页</a></li>
<li><a href="/bookmarks/index.html">书签</a></li>
<li><a href="/dailywork/index.html">日志</a></li>
<!-- <li><a href="/about"></a></li> -->
<li><a href="/cv">我的简历</a></li>
<!-- <li><a href="/blog">Blog</a></li> -->
<!-- <li><a href="/games/lhpy/index.html">H5游戏灵魂漂移</a></li> -->
<!-- <li><a href="http://staff.ustc.edu.cn/~csli/graduate/algorithms/book6/toc.htm">《算法导论》英文版</a></li> -->
<!-- <li><a href="/lz/canvas.html">时钟小程序</a></li> -->
<!-- <li><a href="/img/α.jpg">希腊字母发音表</a></li> -->
</ul>
</nav>
<div class="container">
  {{ content }}
</div>
<footer>
  <p><a href="mailto:316774040@qq.com">我的邮箱</a></p>
  <p><a href="https://blog.csdn.net/qq_40940746?type=collect">CSDN</a></p>
  <p><a href="https://github.com/luyaocode">Github</a></p>
  <p><a href="https://space.bilibili.com/96313163/bangumi">B站</a></p>
  <p><a href="https://music.163.com/#/my/m/music/playlist?id=918226480">网易云音乐</a></p>
</footer>
</body>
  	<!--明月浩空音乐播放器-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script src="https://myhkw.cn/api/player/166175577147" id="myhk" key="166175577147" m="1"></script>
</html>
